
* {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, p, a {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.indexHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(255, 188, 88);
}

.indexLogo {
    color: black;
    display: flex;
    align-items: center;
}

.indexLogo img {
    width: 100px;
}

.indexUtilidadesHamburguer {
    display: none;
}

.indexUtilidades ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
}

.indexUtilidades ul li a {
    text-decoration: none;
    color: black;
}

.indexMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
}

.indexMainHeadline {
    color: black;
}

.indexRecepieContainer {
    display: flex;
    color: black;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.indexRecepieContainer article {
    display: flex;
    border-radius: 20px;
    width: 200px;
    background-color: rgb(255, 188, 88);
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.indexRecepieContainer article img {
    width: 100px;
    border-radius: 20px;
    padding: 10px 0px;
}

.indexRecepieContainer article a {
    text-decoration: none;
    color: black;
}

.indexRecepieContainer article p {
    text-decoration: none;
    color: black;
    padding: 5px 0px;
}

.indexFooter {
    display: flex;
    justify-content: center;
    
    color: black;
    background-color: rgb(255, 188, 88);
}

.botonCargarmas{
    background-color: rgb(255, 188, 88);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 20px;
}

@media (max-width: 720px) {

    .indexUtilidadesHamburguer {
        display: block;
    }


    .indexUtilidadesHamburguer img {
        width: 60px;
    }

    .indexUtilidades ul li {
        display: none;
    }
}